@media (max-width: 1150px) {
    .footer {
        &__inner {
            flex-wrap: wrap;
        }

        &__column {
            &-adress {
                margin-bottom: 30px;
                min-width: 100%;
            }
        }
    }

    .header__text {
        display: none;
    }
}

@media (max-width: 900px) {
    .footer {

        &__column {
            &-social {
                min-width: 100%;
                margin-top: 30px;
            }

            &-menu {

                &+& {
                    margin-left: 40px;
                }
            }
        }

        &__inner {
            justify-content: flex-start;
        }
    }
}

@media (max-width: 840px) {
    .menu {
        &__list {
            display: none;
            color:#fff;
            background-color: $bg;
            position: absolute;
            top: 150px;
            left: 0;
            right: 0;
            z-index: 1;
            text-align: center;
            padding-bottom: 10px;

            a{
                display: block !important;
                padding: 10px 0;
                border-bottom: 1px solid #fff;
            }

            li{
                display: block !important;
                & + li{
                    margin-left: 0 !important;
                }
                &:first-child{
                    border-top: 1px solid #fff;
                }
            }
        }

        &__btn {
            display: block;
            width: 30px;
            cursor: pointer;

            div {
                background-color: #fff;
                height: 3px;

                &+div {
                    margin-top: 5px;
                }
            }
        }
    }
}

@media (max-width: 640px) {

    .notification__box,
    .message__box {
        display: none;
    }

    .circle__menu{
        right: auto;
    }
}

@media (max-width: 540px) {
    .footer {

        &__column {
            min-width: 100%;

            &-menu {
                &+& {
                    margin-left: 0;
                    margin-top: 30px;
                }
            }
        }
    }
}

@media (max-width: 520px) {
    .header {

        &__btn-menu {
            display: block;
            width: 70px;
            height: 70px;
            background-color: $bg;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 4;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                color: #fff;
            }


        }

        &__box {
            position: absolute;
            transition: all .5s;
            height: 70px;
            background-color: #fff;
            left: 100%;
            right: 0;
            z-index: 2;

            &.active {
                left: 70px;
                right: 90px;
            }
        }

        &__logo {
            margin-left: 60px;
        }

        &__top-inner {
            height: 70px;
        }
    }
    .user__menu{
        top: 60px;
    }

    .menu__btn {
        position: absolute;
        top: 24px;

        div {
            background-color: $bg;
        }
    }
    .menu__list{
        top: 70px;
    }

    .circle__menu {
        top: 52px;
    }
}


@media (max-width: 495px) {
    .user {
        &__info {
            display: none;
        }
        &__images{
            margin-right: 0;
        }
    }

}

@media (max-width: 390px){
    .header__box {
        &.active {
            left: 47px;
        }
    }
    .basket__box{
        margin-left: 0;
    }
    .menu__btn{
    left: 10px;
    }
}

@media (max-width: 360px){
    .user{
        margin-right: 0;
    }
    .basket__box{
        margin-right: 10px;
    }
    .header__logo{
        margin-left: 50px;
    }
    .circle__menu{
        left: -20px;
    }
}






@media (min-width: 841px) {
    .menu {
        &__list {
            display: block !important;
        }
    }
}