@import 'vars';
@import 'global';
@import 'fonts';


//start header
.header__top-inner {

    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;


    .header__text {
        margin-left: auto;
        margin-right: 50px;

        span {
            color: $red;
        }
    }

    .header__box {
        display: flex;
        align-items: center;

        .header__btn {
            padding: 4px;
            width: 72px;
            border-radius: 4px;
            text-align: center;
            color: #fff;
            font-size: 12px;

            &-login {
                background-color: $green;
            }


            &-register,
            &-logout {
                background-color: $red;
                margin-left: 7px;
            }
        }


    }
}

.header__btn-login--off {
    display: none;
}

.header__btn-logout {
    display: none;

    &.header__btn-login--on {
        display: block;
    }
}



.header__menu {
    background-color: $bg;

    .menu {
        display: flex;
        align-items: center;
        height: 60px;

        .menu__list {
            li {
                display: inline-block;

                &+li {
                    margin-left: 30px;
                }
            }

            a {
                color: #fff;
                font-size: 14px;
            }
        }
    }

    &-btn {
        display: none;
    }
}

.header__circle {
    &.active {
        display: block;
    }

    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }


    span {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #fff;
    }
}

.notification {
    span {
        background-color: $yellow;
    }
}

.message {
    span {
        background-color: $tomato;
    }
}

.basket {
    margin-right: 20px;

    span {
        background-color: $green;
    }
}

.user {
    margin-right: 25px;
    padding-right: 20px;
    position: relative;

    &::before {
        content: "\f107";
        position: absolute;
        font-family: "icomoon";
        font-size: 16px;
        color: #707070;
        top: 0;
        right: 0;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__images {
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }

    &__info {
        font-size: 14px;
        line-height: 24px;
    }

    &__name {
        @include f500;
        color: #222;
    }

    &__money {
        color: $green;
        @include f700;
    }

}

.user__box,
.basket__box,
.notification__box,
.message__box {
    position: relative;
    height: 90px;
    margin-top: 41px;

    &:hover {
        .user__menu {
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}

.user__menu {
    border: 0px solid rgb(204, 204, 204);
    position: absolute;
    background-color: #fff;
    padding: 20px;
    width: 158px;
    top: 69px;
    left: 20px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    padding: 0px 20px;
    z-index: 2;

    a {
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
    }
}

.circle {
    &__menu {
        z-index: 2;
        position: absolute;
        top: 62px;
        right: 0;
        background-color: #fff;
        border-top: 0px solid #e0e0e0;
        height: 0;
        overflow: hidden;
        transition: all .3s;
    }

    &__item {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-top: none;
        padding: 0 23px;
        align-items: center;
        width: 270px;
        position: relative;
        transition: all .3s;
        border-left-width: 1px;
        border-right-width: 1px;


        &:before {
            position: absolute;
            top: 27px;
            right: 28px;
            color: #b0bec5;
            font-size: 16px;
        }
    }

    &__images {
        margin-right: 15px;
        float: left;
    }

    &__info {
        line-height: 20px;

        &-name {
            font-size: 16px;
            @include f500;
            color: $bg;
        }

        &-theme {
            font-size: 12px;
            color: $green;
        }

        &-price {
            @include f500;
            color: #000;
            font-size: 16px;
        }

        &-date {
            font-size: 10px;
            color: #707070;
        }
    }
}

.notification,
.message,
.basket {
    &__box {
        margin-top: 55px;
        margin-left: 15px;

        &:hover {
            .header__circle::before {
                color: $bg;
            }

            .circle__menu {
                height: auto;
                overflow: hidden;
            }

            .circle__item {
                padding: 23px;
                border-width: 1px;
            }
        }
    }
}

.basket {
    &__summ {
        padding: 16px 17px 12px;
        border: 1px solid #e0e0e0;
        border-top: none;
        background-color: #fff;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        padding-left: 13px;
        padding-right: 22px;
        @include f700;
        margin-bottom: 15px;
        font-size: 16px;
        color: $bg;
    }

    &__btn {

        color: #fff;
        @include f700;
        font-size: 14px;
        padding: 12px 5px;
        background-color: $green;
        text-align: center;
        width: 102px;

        &-checkout {
            width: 120px;
            margin-left: 6px;
            background-color: $red;
        }
    }
}

.notification__menu,
.message__menu {
    .circle {
        z-index: 2;

        &__images {
            margin-right: 20px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

        &__info {
            line-height: 18px;
        }
    }
}

.icons-color::before {
    color: $tomato;
}

.header__btn-menu {
    display: none;
}

//end header

//start modal
#modal {
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding: 90px 0px 100px;

    .login {
        &__title {
            text-align: center;
            text-transform: uppercase;
            font-size: 48px;
            margin-bottom: 40px;
            color: #fff;
            @include f700;
        }

        &__wrapper {
            form {
                max-width: 400px;
                width: 100%;
                margin: 0 auto;
            }

            label {
                position: relative;

                &::before {
                    position: absolute;
                    font-family: "icomoon";
                    font-size: 14px;
                    color: #fff;
                    left: 18px;
                    top: 23px;
                    z-index: 1;
                }
            }

            input {
                height: 43px;
                margin-bottom: 8px;
                border: none;
                background-color: #76ae36;
                color: #fff;
                font-size: 14px;
                padding-left: 40px;
                display: block;
                width: 100%;

                &::placeholder {
                    color: #fff;
                    font-size: 14px;

                }
            }

            button {
                margin-top: 19px;
                background-color: #fff;
                max-width: 140px;
                padding: 18px 16px;
                text-transform: uppercase;
                border: none;
                width: 100%;
                margin-right: 6px;
                @include f700;
                color: #000;
                text-align: center;
                box-shadow: 0 2px 2px 0 rgba(118, 174, 54, 0.75);
            }
        }

        &__label {
            &-name::before {
                content: "\f007";
            }

            &-pass::before {
                content: "\f023";
            }
        }

    }

    .lost-pass {
        display: block;
        margin-top: 20px;
        color: #fff;
        font-size: 18px;
    }

    .creat-acc {
        margin-top: 19px;
        padding: 15px 0 15px 20px;
        text-align: center;
        max-width: 249px;
        width: 100%;
        background-color: #76ae36;
        color: #fff;
        font-size: 18px;
        position: relative;

        &::before {
            content: "\f044";
            font-family: "icomoon";
            position: absolute;
            color: #fff;
            left: 19px;
            top: 15 px;
        }
    }

}

.fancybox-button svg path {
    fill: #fff;
}

//end modal

//start search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;

    &.page-search {
        min-height: 230px;

        .search__inner {
            padding: 55px 70px;

            &-text {
                margin-bottom: 20px;
            }
        }
    }
}

.search__inner {
    padding: 155px 0px 100px;
    color: #fff;
    text-align: center;

    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }

    &-text {
        margin-bottom: 50px;
        @include f500;
        font-size: 20px;
        line-height: 30px;
    }

    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;

            &:focus {
                border: 1px solid $red;
            }

            &::placeholder {
                color: #90a4ae;
                @include f500;
            }
        }

        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 17px;
        }

    }
}

//end search

//start products

.products {

    padding: 110px 0px;
    background-color: $grey;

}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;

    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }

    &-name {
        max-width: 310px;
    }

    &-title {
        color: $bg;
        font-size: 18px;
        display: block;
    }

    &-category {
        font-size: 14px;
        color: $green;
        display: block;
    }

    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }

    &-autor {
        display: flex;
        align-items: center;
        max-width: 245px;

        .avatar {
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }

        span {
            font-size: 14px;
            @include f500;
        }
    }

    &-star {
        font-size: 12px;

        span {
            color: $bg;
        }
    }
}

.products__bottom-btn {
    text-align: center;

    button {
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }

    }
}

//end products


//start product-slider

.product-slider {
    padding: 110px 0px 120px;

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;

            &.slick-active {
                button {
                    background-color: green;
                }
            }

            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

//end product-slider

//start advantages

.advantages {
    background-color: $bg;
    padding: 110px 0;

    &__title {
        color: #fff;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        text-align: center;
        padding: 0px 15px;

        &:hover {
            .advantages__item-images {
                background-color: $green;

                g {
                    fill: #fff;
                }
            }

            .advantages__item-title {
                color: $green;
            }
        }

        &-images {
            width: 114px;
            height: 114px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 30px;
            transition: all .3s;
        }

        &-title {
            color: #fff;
            font-size: 24px;
            margin-bottom: 25px;
            @include f500;
            transition: all .3s;
        }

        &-text {
            font-size: 15px;
        }
    }
}

.icosvg-1 {
    svg {
        width: 50px;
    }
}

.icosvg-2 {
    svg {
        width: 70px;
    }
}

.icosvg-3 {
    svg {
        width: 86px;
    }
}

//end advantages

//start author

.author {
    background-position: center;
    background-repeat: no-repeat;
    block-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        background-color: $green;
        max-width: 650px;
        width: 100%;
        height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 290px;

        span {
            @include f700;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
    }
}

//end author

//start tutorial 
.tutorial {
    padding: 70px 0px 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;

        &-images {
            min-height: 270px;
            background-repeat: no-repeat;
            background-position: center;
            block-size: cover;
        }

        &-title {
            background-color: #f8f8f8;
            font-size: 24px;
            text-align: center;
            @include f700;
            padding: 30px 10px;
            color: $bg;
        }
    }
}

//end tutorial

//start footer
.footer {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }

    &__column {
        max-width: 270px;
        width: 100%;

        &-menu {
            max-width: 220px;
        }

        &-title {
            font-size: 22px;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            color: #fff;
            padding-bottom: 30px;
            margin-bottom: 30px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 2px;
                width: 51px;
                height: 3px;
                background-color: $green;
            }
        }

        &-text {
            color: #b7c3c8;
            margin-bottom: 30px;
        }

        &-list {
            a {
                margin-bottom: 15px;
                color: #b7c3c8;
                padding-left: 22px;
                position: relative;

                &::before {
                    content: "\f105";
                    color: $green;
                    position: absolute;
                    left: 0;
                    font-size: 18px;
                    font-family: "icomoon";
                }
            }
        }
    }

    &__info {
        margin-top: 18px;
        @include f500;
        color: #fff;
        padding-left: 30px;
        position: relative;

        &::before {
            content: "";
            font-family: "icomoon";
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }

        &-location {
            &::before {
                content: "\f041";
            }
        }

        &-phone {
            &::before {
                content: "\f095";
            }
        }
    }

    &__form {
        &-title {
            color: #fff;
            margin-bottom: 15px;
            font-size: 20px;
        }

        position: relative;

        input {
            border: none;
            background-color: #2f3c43;
            display: block;
            width: 100%;
            height: 40px;
            color: #fff;
            font-size: 14px;
            padding-left: 13px;
            padding-right: 50px;

            &::placeholder {
                color: #697378;
            }
        }

        button {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $green;
            border: none;
            height: 40px;
            width: 43px;
            cursor: pointer;

            &::before {
                content: "\f124";
                position: absolute;
                font-family: "icomoon";
                color: #fff;
                font-size: 20px;
                top: 11px;
                left: 13px;
            }
        }
    }

    &__copy {
        border-top: 1px solid #424d53;

        &-text {
            text-align: center;
            font-size: 15px;
            color: #919699;
            padding: 25px 0px;
        }
    }

}

.footel__social-link {
    margin-bottom: 33px;

    li {
        display: inline-block;

        &+li {
            margin-left: 7px;
        }
    }

    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);

    }
}

.link-twitter {
    background-position: -28px 0;
}

.link-youtube {
    background-position: -0 -28px;
}

.link-pinterest {
    background-position: -28px -28px;
}

.link-linkedin {
    background-position: -56px -0;
}

//end footer

//start product-page
.product-page {
    &__inner {
        display: flex;
        padding-bottom: 110px;
    }

    &__aside {
        margin-right: 30px;

    }
}

.aside {
    &-item {
        background-color: #fff;
        border: 1px solid #dedede;
        padding: 0px 32px 32px;
        margin-bottom: 30px;
        width: 270px;
    }

    &__title {
        border-bottom: 1px solid #dde3e8;
        font-size: 20px;
        color: $bg;
        padding: 22px 0px 19px;
        @include f700;
    }
}

.category__list {
    padding-top: 10px;

    li {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;

        &::before {
            content: "\f105";
            color: $green;
            position: absolute;
            left: 0;
            font-size: 18px;
            font-family: "icomoon";
        }
    }

    a {
        color: $bg;
    }

    span {
        color: #90a4ae;
        margin-left: 10px;
    }
}

.price-range {
    form {
        padding-top: 20px;
    }

    button {
        margin-top: 55px;
        background-color: $green;
        color: #fff;
        padding: 16px 10px;
        text-align: center;
        @include f500;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        position: relative;

        &::before {
            content: "\f002";
            color: #fff;
            position: absolute;
            left: 58px;
            top: 15px;
            font-size: 15px;
            font-family: "icomoon";
        }
    }
}

.irs-min,
.irs-max {
    display: none;
}

.irs--flat .irs-Line {
    background-color: #f2f5f8;
    height: 5px;
}

.irs--flat .irs-bar {
    background-color: $bg;
    height: 5px;
}

.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    background-color: #fff;
    border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.irs-from,
.irs-single,
.irs.to {
    top: 45px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs.to:before {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs.to {
    font-size: 15px;
    background-color: transparent;
    padding: 0;
    line-height: 1.333;
    border-radius: 0;
    text-shadow: none;
    color: #78909c;
}

.irs--flat .irs-handle {
    top: 19px;
}

.product-page__aside {
    .product__item {
        box-shadow: none;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8;

        &-img {
            min-height: 120px;
            box-shadow: none;
        }

        &-content {
            padding: 0;
            min-height: 75px;
            border-bottom: none;
        }

        &-info {
            padding: 0;
            min-height: none;
        }

        &-title {
            font-size: 16px;
        }

        &-price {
            font-size: 16px;
        }

        &-star {
            &-none {
                display: none;
            }
        }

        &-autor .avatar {
            margin-right: 9px;
        }
    }

    .jq-ry-container {
        padding: 0;
    }
}

.aside__product-item {
    .product__item:last-child {
        border: none;
        padding-bottom: 0;
    }

    .product__item:first-child {
        margin-top: 25px;
    }
}

.top-sellers__link {
    padding: 16px;
    display: block;
    background-color: $green;
    color: #fff;
    @include f500;
    text-align: center;
}

.product {
    &-page__filter {
        background-color: #fff;
        border: 1px solid #dedede;
        padding: 0px 20px;
        margin-bottom: 30px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-size: 16px;
            color: #90a4ae;
            outline: none;

            &.active {
                color: $green;
            }

            &.icon-sort-amount-desc {
                font-size: 18px;
                color: #455a64;
            }

            &.icon-unsorted {
                font-size: 14px;
                color: #707070;
            }
        }

        &-sort {
            color: #707070;
            font-size: 14px;
            display: flex;
            align-items: center;
        }
    }

    &-page__content {
        width: 100%;

        .product {
            &__item {
                max-width: 270px;
                background-color: #fff;
                transition: all .5s;

                &-img {
                    min-height: 180px;
                }

                &-content {
                    padding: 10px 20px;
                }

                &-title {
                    font-size: 16px;
                }

                &-info {
                    min-height: 65px;
                    padding: 10px 20px;
                }
            }

            &-page__items {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 30px;
            }
        }

        .rate-star {
            margin-right: 5px;
        }

        .jq-ry-container {
            padding: 0;
        }
    }
}

.pagination {
    &__list {
        li {
            display: inline-block;


            &+li {
                margin-left: 6px;
            }
        }

        a,
        span {
            box-shadow: 0px 1px 2px 0p rgba(205, 214, 222, 0.75);
            width: 43px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            font-size: 16px;
            color: $bg;
            @include f500;

            &.active {
                background-color: $red;
                color: #fff;
            }
        }
    }
}

.product__item-list {
    display: none;

    .icon-heart-o,
    .icon-comment-o {
        display: inline-block;
        font-size: 12px;
        color: #70838d;
        padding: 0px 30px 0px 47px;
        border-left: 1px solid #aeb4bb;
        position: relative;

        span {
            @include f500;
            color: $bg;
        }

        &::before {
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: 0;
        }
    }

    .icon-comment-o {
        padding-right: 30px;

        &::before {
            top: -2px;
        }
    }
}

.product-page__items {
    .product__item {
        &.list {
            max-width: 100%;

            .product__item {
                &-img {
                    width: 240px;
                    float: left;
                    min-height: 100%;
                }

                &-text {
                    display: block;
                    font-size: 14px;
                    color: #70838d;
                    margin-top: 15px;
                    margin-bottom: 5px;
                }

                &-price {
                    font-size: 30px;

                    span {
                        display: block;
                        font-size: 13px;
                        color: #aeb4bb;
                        margin-top: 30 px;
                    }
                }

                &-name {
                    max-width: 480px;
                }

                &-content {
                    padding-top: 23px;
                }

                &-list {
                    display: block;
                }

                &-star {
                    margin-left: auto;
                    margin-right: 30px;
                }
            }
        }
    }
}

.product__item {
    &-text {
        display: none;
    }

    &-price {
        span {
            display: none;
        }

    }
}

//end product-page

//start product-one
.product-one {
    padding-bottom: 100px;
    background-color: $grey;

    &__inner {
        display: flex;
    }

    &__content {
        margin-right: 31px;
        max-width: 870px;
    }

    &__images {
        width: 100%;
        max-width: 829px;
        height: 422px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &-inner {
            background-color: #fff;
            border: 1px solid #dcdcdc;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 0;
        }
    }

    &__title {
        @include f500;
        font-size: 30px;
        color: $bg;
        line-height: 40px;
        margin: 30px 0px 20px;
    }

    &__text {
        font-size: 16px;
        color: #707070;
        margin: 20px 0px 35px;
    }

    &__box {
        margin-bottom: 55px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__link {
        a {
            color: $grey;
            padding: 16px 8px;
            width: 150px;
            font-size: 14px;

            &+a {
                margin-left: 20px;
            }
        }

        .link {
            &-live {
                background-color: $red;
            }

            &-screenshot {
                background-color: #455a64;
            }

            &-documentation {
                background-color: $green;
            }
        }

    }

    &__social {
        a {
            width: 54px;
            height: 50px;
            position: relative;


            &+a {
                margin-right: 3px;
            }

            &::before {
                font-size: 18px;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .icon {


            &-facebook {
                background-color: #6370b6;
            }

            &-twitter {
                background-color: #64b5f6;
            }

            &-linkedin {
                background-color: #4f71ce;
            }

            &-pinterest-p {
                background-color: #d32f2f;
            }
        }
    }

    &__more {

        &-title {
            font-size: 18px;
            @include f500;
            color: $bg;
            padding: 18px 25px;
            background-color: #fff;
            border: 1px solid #dcdcdc;
            margin-bottom: 28px;
        }

        &-icons {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .productmini {
            margin-bottom: 27px;
            display: flex;
            height: 90px;
            min-width: 270px;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 1px 2px 0 rgba(205, 244, 222, 0.75);

            &__images {
                width: 100px;
                height: 100%;
                margin-right: 20px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }


            &__name {
                @include f500;
                font-size: 14px;
                color: $bg;
            }

            &__theme {
                color: $green;
                font-size: 12px;
            }

            &__price {
                @include f700;
                font-size: 18px;
                color: $bg;
            }


        }
    }

    &__tabs {
        max-width: 870px;
        min-height: 323px;
        background-color: #fff;
        margin-bottom: 52px;
        border: 1px solid #d7d7d7;

        &-titles {
            display: flex;
            border-bottom: 1px solid #d7d7d7;
        }

        &-content {
            border-top: none;
        }
    }

    .tab-active {
        color: $bg;
        border-bottom: 3px solid $green;
    }

    &__tab {
        color: #70838d;
        @include f500;
        font-size: 16px;
        width: 217.5px;
        height: 60px;
        text-align: center;
        padding: 20px 0;
        cursor: pointer;

        &+& {
            border-left: 1px solid #d7d7d7;
        }
    }

    .tab-content {
        background-color: #fff;
        padding: 30px 30px 50px;
        position: relative;
    }

    .tab-item {
        position: absolute;
        line-height: 36px;
        font-size: 16px;
        color: #707070;
        column-count: 2;
        column-gap: 25px;
        transition: opacity .3s;
        opacity: 0;


        li {
            min-width: 270px;
            width: 100%;
            line-height: 36px;
        }


    }

    .item-active {
        opacity: 1;
    }
}

.price {
    &__box {
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;
    }

    &__product {
        font-size: 22px;
        @include f500;
        color: $red;
    }
}

.product__price {
    button {
        margin-bottom: 7px;
        box-shadow: 0 1px 2px 0 rgba(69, 90, 100, 0.75);
        border: none;
        background-color: $text;
        color: #fff;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        display: block;
        padding: 17px 5px 15px;
        width: 100%;
        cursor: pointer;

        &::before {
            font-weight: 400;
            font-family: "icomoon";
            padding-right: 8px;
        }
    }

    .icon-shopping-cart {
        background-color: $green;
    }

    .icon-heart-o {
        background-color: #42a5f5;
    }
}

.product-author__box {
    padding: 25px 0;
    display: flex;
}

.author {
    &__avatar {
        margin-right: 14px;
    }

    &__name {
        font-size: 18px;
        color: $bg;
        margin-bottom: 2px;
    }

    &__info-link {
        color: #707070;
        font-size: 13px;
        padding: 6px 9px 5px;
        border: 1px solid #d6d6d6;
    }

    &__awards-list {
        li {
            display: inline-block;
            color: #fff;
            font-size: 20px;
            position: relative;

            &::before {
                position: absolute;
                top: 6px;
                left: auto;
                right: 10px;
            }

            &+li {
                margin-left: 3px;
            }
        }



        .icon {

            &-meh-o {
                background-image: url(../images/awards/orange.png);
                width: 34px;
                height: 37px;

            }

            &-pagelines {
                background-image: url(../images/awards/red.png);
                width: 34px;
                height: 37px;
            }

            &-flash {
                background-image: url(../images/awards/blue.png);
                width: 34px;
                height: 37px;
            }

            &-foursquare {
                background-image: url(../images/awards/green.png);
                width: 34px;
                height: 37px;
            }

            &-yen {
                background-image: url(../images/awards/grey.png);
                width: 34px;
                height: 37px;
            }
        }
    }

}

.aside__item-sales {
    padding-top: 23px;
    font-size: 16px;
    @include f300;
    color: #707070;

    span {
        font-size: 20px;
        @include f700;
        color: $bg;
        padding-right: 13px;

        &::before {
            content: "\f07a";
            color: #a6b5bb;
            padding-right: 20px;
            font-family: "icomoon";
        }
    }
}

.aside-item .sales-number {
    padding-bottom: 25px;
}

.information__line {
    font-size: 14px;
    color: #70838d;
    margin-top: 20px;
    line-height: 18px;

    span {
        color: $bg;
        @include f500;
    }
}

//end product-one

//start 404-page
.page-404,
.about,
.contact {

    &__wrapper {
        border: 1px solid #dcdcdc;
        background-color: #fff;
        margin-bottom: 150px;
    }

    &__head {
        font-size: 24px;
        @include f500;
        color: #444;
        padding: 23px 27px;
        @include f500;
        border-bottom: 1px solid #dcdcdc;
    }
}

.page-404 {
    &__inner {
        text-align: center;
        background-color: $green;
        color: #fff;
    }

    &__404 {
        font-family: 'Open Sans', sans-serif;
        font-size: 300px;
        line-height: 300px;
        color: #fff;
        font-weight: 800;
        padding-top: 70px;
        position: relative;
        padding-bottom: 20px;

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/page-404.png);
            width: 150px;
            height: 292px;
            margin-left: 20px;
        }
    }

    &__title {
        @include f300;
        margin-bottom: 30px;
        font-size: 30px;

    }

    &__text {
        max-width: 501px;
        margin: 0px auto;
        font-size: 18px;
        margin-bottom: 60px;
    }

    &__link {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        padding: 20px 30px 16px;
        border: 2px solid #fff;
        border-radius: 4px;
        margin-bottom: 100px;
    }
}

//end 404-page

//start about
.about {
    &__inner {
        background-color: #fff;
        padding: 0px 50px;
    }

    &__box {
        h3 {
            font-size: 20px;
            @include f700;
            color: #444;
            margin: 40px 0 15px;
        }

        p {
            margin-bottom: 40px;
        }
    }
}

//end about


//start contact
.contact {
    &__head {
        padding-left: 40px;
    }

    &__inner {
        padding: 35px 40px 15px;
    }

    &__map {
        margin-bottom: 50px;
        height: 415px;
        width: 100%;

        iframe {
            width: 100%;
            height: 100%;
            ;
        }
    }

    &__box {
        display: flex;
    }

    &__info {
        margin-right: 30px;
        max-width: 330px;
        width: 100%;

        &-item {
            margin-bottom: 30px;
        }

        &-title {
            padding-bottom: 20px;
            padding-left: 40px;
            position: relative;
            font-size: 20px;
            @include f500;
            color: $bg;


            &::after {
                content: "";
                width: 44px;
                height: 4px;
                background-color: $green;
                left: 40px;
                bottom: 0;
                position: absolute;
            }

            &::before {
                color: $green;
                font-size: 24px;
                position: absolute;
                left: 0;
            }
        }

        &-content {
            padding-left: 40px;
            color: #707070;
            max-width: 300px;
            margin-top: 20px;
        }
    }

    &__form {
        width: 100%;

        input {
            border: none;
            height: 43px;
            padding-left: 17px;
            padding-right: 17px;
            background-color: #f1f4f5;
            width: 350px;
            margin-bottom: 30px;


            &::placeholder {
                color: #7a7a7a;

            }
        }

        textarea {
            border: none;
            padding: 13px 17px;
            height: 191px;
            background-color: #f1f4f5;
            width: 100%;
            display: block;
            resize: none;
            margin-bottom: 23px;

            &::placeholder {
                color: #7a7a7a;

            }
        }

        button {
            border: none;
            color: #fff;
            background-color: $green;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            @include f700;
            padding: 20px 5px;
            width: 190px;
        }

        &-title {
            @include f500;
            font-size: 24px;
            margin-bottom: 25px;
            color: #333;
        }

        &-row {
            display: flex;
            justify-content: space-between;
        }
    }
}

//end contact

//start settings
.settings__tabs {
    display: flex;
}

.tabs {
    background-color: #fff;
    margin-right: 30px;
    max-width: 270px;
    width: 100%;
    border: 1px solid #dcdcdc;
    max-height: 306px;


    .tabs-active {
        color: $bg;
        border-bottom: 3px solid $green;

        &::before {
            color: $green;
        }
    }

    &-titles {
        @include f500;
        font-size: 14px;
        color: #707070;
        padding: 18px 50px;
        position: relative;
        cursor: pointer;

        &+.tabs-titles {
            border-top: 1px solid #dcdcdc;
        }



        &::before {
            content: "\f105";
            position: absolute;
            font-family: "icomoon";
            color: #444;
            left: 22px;
            font-size: 14px;
        }
    }
}

.tabs-content {
    background-color: #fff;
    width: 100%;
    margin-bottom: 152px;

    .item-active {
        display: block;
    }
}

.page-box-content {
    margin-bottom: 25px;
}

.page-box {
    display: none;

    &__title {
        border-bottom: 1px solid #dcdcdc;
        font-size: 24px;
        color: $bg;
        padding: 20px 40px 23px;
    }

    .personal-info {
        color: #444;
        margin-left: 40px;
        padding-top: 42px;
        position: relative;

        input {
            position: absolute;
            left: 252px;
            top: 34px;
            border: 1px solid #dedede;
            background-color: #f9f9f9;
            height: 40px;
            width: 540px;
            padding-left: 15px;

        }

        select {
            position: absolute;
            left: 252px;
            top: 34px;
            border: 1px solid #dedede;
            background-color: #f9f9f9;
            height: 40px;
            width: 540px;
            padding-left: 15px;
        }
    }

    button {
        color: #fff;
        text-align: center;
        background-color: $green;
        width: 108px;
        height: 46px;
        border: none;
        @include f500;
        margin: 40px 0 76px 292px;
    }
}

//end settings

//start profile

.profile {
    &__inner {
        display: flex;
        margin-bottom: 30px;
    }

    &-status {
        color: #707070;
        font-size: 13px;
        padding: 6px 9px 5px 30px;
        border: 1px solid #d6d6d6;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: 11px;
            top: 13px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
        }
    }

    &-on {
        &::before {
            background-color: $green;
        }
    }

    &-off {
        &::before {
            background-color: $red;
        }
    }

    &__aside {
        margin-right: 30px;
        max-width: 270px;
        width: 100%;

        &-btn {
            margin-bottom: 13px;
            text-align: center;

            &-message {
                margin-bottom: 17px;
                display: block;
                width: 100%;
                font-size: 16px;
                color: #fff;
                @include f500;
                background-color: $text;
                padding: 18px 10px;
                position: relative;
                box-shadow: 0 1px 2px 0 rgba(69, 90, 100, 0.75);


                &::before {
                    content: "\f003";
                    position: absolute;
                    font-family: "icomoon";
                    left: 50px;
                    top: 17px;
                }
            }

            &-following {
                margin-bottom: 17px;
                display: block;
                width: 100%;
                font-size: 16px;
                color: #fff;
                @include f700;
                background-color: $green;
                padding: 18px 10px;
                position: relative;
                box-shadow: 0 1px 2px 0 rgba(69, 90, 100, 0.75);
            }
        }
    }

    &__content {
        width: 100%;



        .profile {

            &__banner {
                padding: 20px;
                border: 1px solid #dedede;
                background-color: #fff;
                margin-bottom: 30px;

                &-images {
                    background-image: url(../images/content/banner.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    min-height: 332px;

                }
            }

            &__items {
                display: flex;
                border: 1px solid #dedede;
            }

            &__item {
                width: 25%;
                background-color: #fff;
                text-align: center;
                padding: 20px 5px 10px;
                font-size: 14px;
                @include f500;


                &+.profile__item {
                    border-left: 1px solid #dedede;
                }


                &-title {
                    color: $bg;
                }

                &-content {
                    color: #707070;

                    &.profile__item-sales {
                        color: $bg;
                    }
                }

            }
        }
    }

}

.profile-settings {
    .presonal-box {
        background-color: #fff;
        padding: 35px 40px 25px;
        border: 1px solid #dedede;

        &__title {
            @include f700;
            font-size: 20px;
            margin-bottom: 25px;
            color: $bg;
        }

        &__text {
            margin-bottom: 45px;

            p {
                color: #707070;
            }
        }

        &__item {

            &-head {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
            }

            &-name {
                @include f500;
                font-size: 16px;
                color: $bg;
                font-style: italic;
            }

            &-number {
                @include f700;
                font-size: 16px;
                color: $bg;
            }

            &-line {
                background-color: #f4f4f4;
                height: 15px;
                border-radius: 3px;
                margin-bottom: 23px;

                span {
                    display: block;
                    border-radius: 3px;
                    height: 15px;
                    background-image: url(../images/pro-bar.jpg);
                    background-repeat: repeat;
                }
            }

        }
    }

    .tabs-titles.tabs-active{
        &::before{
            color: $green;
        }
    }

    .tabs-titles {
        &::before {
            position: absolute;
            font-family: "icomoon";
            color: #d0d0d0;
            left: 24px;
            font-size: 14px;
        }
    }

    .profile{
        &-about{
            &::before {
                content: "\f007";
            }
        }
        &-products{
            &::before {
                content: "\f0b1";
            }
        }
        &-message{
            &::before {
                content: "\f003";
            }
        }
        &-rewiews{
            &::before {
                content: "\f0e6";
            }
        }
        &-followers{
            &::before {
                content: "\f0c0";
            }
        }
    }
}



//end profile










@import 'media';