@import 'vars';
@import 'global';
@import 'fonts';


//start header
.header__top-inner {

    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;


    .header__text {
        margin-left: auto;
        margin-right: 50px;

        span {
            color: $red;
        }
    }

    .header__box {
        display: flex;
        align-items: center;

        .header__btn {
            padding: 4px;
            width: 72px;
            border-radius: 4px;
            text-align: center;
            color: #fff;
            font-size: 12px;

            &-login {
                background-color: $green;
            }


            &-register,
            &-logout {
                background-color: $red;
                margin-left: 7px;
            }
        }


    }
}

.header__btn-login--off {
    display: none;
}

.header__btn-logout {
    display: none;

    &.header__btn-login--on {
        display: block;
    }
}



.header__menu {
    background-color: $bg;

    .menu {
        display: flex;
        align-items: center;
        height: 60px;

        .menu__list {
            li {
                display: inline-block;

                &+li {
                    margin-left: 30px;
                }
            }

            a {
                color: #fff;
                font-size: 14px;
            }
        }
    }
    &-btn{
        display: none;
    }
}

.header__circle {
    &.active {
        display: block;
    }

    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }


    span {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #fff;
    }
}

.notification {
    span {
        background-color: $yellow;
    }
}

.message {
    span {
        background-color: $tomato;
    }
}

.basket {
    margin-right: 20px;
    span {
        background-color: $green;
    }
}

.user {
    margin-right: 25px;
    padding-right: 20px;
    position: relative;

    &::before {
        content: "\f107";
        position: absolute;
        font-family: "icomoon";
        font-size: 16px;
        color: #707070;
        top: 0;
        right: 0;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__images {
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }

    &__info {
        font-size: 14px;
        line-height: 24px;
    }

    &__name {
        @include f500;
        color: #222;
    }

    &__money {
        color: $green;
        @include f700;
    }

}

.user__box,
.basket__box,
.notification__box,
.message__box {
    position: relative;
    height: 90px;
    margin-top: 41px;

    &:hover {
        .user__menu {
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}

.user__menu {
    border: 0px solid rgb(204, 204, 204);
    position: absolute;
    background-color: #fff;
    padding: 20px;
    width: 158px;
    top: 70px;
    left: 20px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    padding: 0px 20px;

    a {
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
    }
}

.circle {
    &__menu {
        z-index: 2;
        position: absolute;
        top: 63px;
        right: 0;
        background-color: #fff;
        border-top: 0px solid #e0e0e0;
        height: 0;
        overflow: hidden;
        transition: all .3s;
    }

    &__item {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-top: none;
        padding: 0 23px;
        align-items: center;
        width: 269px;
        position: relative;
        transition: all .3s;
        border-left-width: 1px;
        border-right-width: 1px;
        

        &:before {
            position: absolute;
            top: 27px;
            right: 28px;
            color: #b0bec5;
            font-size: 16px;
        }
    }

    &__images {
        margin-right: 15px;
        float: left;
    }

    &__info {
        line-height: 20px;

        &-name {
            font-size: 16px;
            @include f500;
            color: $bg;
        }

        &-theme {
            font-size: 12px;
            color: $green;
        }

        &-price {
            @include f500;
            color: #000;
            font-size: 16px;
        }

        &-date {
            font-size: 10px;
            color: #707070;
        }
    }
}

.notification,
.message,
.basket {
    &__box {
        margin-top: 55px;
        margin-left: 15px;

        &:hover {
            .header__circle::before{
                color: $bg;
            }
            .circle__menu {
                height: auto;
                overflow: hidden;
            }
            .circle__item{
                padding: 23px;
                border-width: 1px;
            }
        }
    }
}

.basket {
    &__summ {
        padding: 16px 17px 12px;
        border: 1px solid #e0e0e0;
        border-top: none;
        background-color: #fff;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        padding-left: 13px;
        padding-right: 22px;
        @include f700;
        margin-bottom: 15px;
        font-size: 16px;
        color: $bg;
    }

    &__btn {

        color: #fff;
        @include f700;
        font-size: 14px;
        padding: 12px 5px;
        background-color: $green;
        text-align: center;
        width: 102px;

        &-checkout {
            width: 120px;
            margin-left: 6px;
            background-color: $red;
        }
    }
}

.notification__menu,
.message__menu {
    .circle {
        z-index: 2;
        &__images {
            margin-right: 20px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

        &__info {
            line-height: 18px;
        }
    }
}

.icons-color::before {
    color: $tomato;
}
.header__btn-menu{
    display: none;
}

//end header


//start search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;

    &.page-search {
        min-height: 230px;

        .search__inner {
            padding: 55px 70px;

            &-text {
                margin-bottom: 20px;
            }
        }
    }
}

.search__inner {
    padding: 155px 0px 100px;
    color: #fff;
    text-align: center;

    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }

    &-text {
        margin-bottom: 50px;
        @include f500;
        font-size: 20px;
        line-height: 30px;
    }

    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;

            &:focus {
                border: 1px solid $red;
            }

            &::placeholder {
                color: #90a4ae;
                @include f500;
            }
        }

        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 17px;
        }

    }
}

//end search

//start products

.products {

    padding: 110px 0px;
    background-color: $grey;

}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;

    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }

    &-name {
        max-width: 310px;
    }

    &-title {
        color: $bg;
        font-size: 18px;
        display: block;
    }

    &-category {
        font-size: 14px;
        color: $green;
        display: block;
    }

    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }

    &-autor {
        display: flex;
        align-items: center;
        max-width: 245px;

        .avatar {
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }

        span {
            font-size: 14px;
            @include f500;
        }
    }

    &-star {
        font-size: 12px;

        span {
            color: $bg;
        }
    }
}

.products__bottom-btn {
    text-align: center;

    button {
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }

    }
}

//end products


//start product-slider

.product-slider {
    padding: 110px 0px 120px;

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;

            &.slick-active {
                button {
                    background-color: green;
                }
            }

            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

//end product-slider

//start advantages

.advantages {
    background-color: $bg;
    padding: 110px 0;

    &__title {
        color: #fff;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        text-align: center;
        padding: 0px 15px;

        &:hover {
            .advantages__item-images {
                background-color: $green;

                g {
                    fill: #fff;
                }
            }

            .advantages__item-title {
                color: $green;
            }
        }

        &-images {
            width: 114px;
            height: 114px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 30px;
            transition: all .3s;
        }

        &-title {
            color: #fff;
            font-size: 24px;
            margin-bottom: 25px;
            @include f500;
            transition: all .3s;
        }

        &-text {
            font-size: 15px;
        }
    }
}

.icosvg-1 {
    svg {
        width: 50px;
    }
}

.icosvg-2 {
    svg {
        width: 70px;
    }
}

.icosvg-3 {
    svg {
        width: 86px;
    }
}

//end advantages

//start author

.author {
    background-position: center;
    background-repeat: no-repeat;
    block-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        background-color: $green;
        max-width: 650px;
        width: 100%;
        height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 290px;

        span {
            @include f700;
        }
    }

    &__link {
        font-size: 18pz;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
    }
}

//end author

//start tutorial 
.tutorial {
    padding: 70px 0px 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;

        &-images {
            min-height: 270px;
            background-repeat: no-repeat;
            background-position: center;
            block-size: cover;
        }

        &-title {
            background-color: #f8f8f8;
            font-size: 24px;
            text-align: center;
            @include f700;
            padding: 30px 10px;
            color: $bg;
        }
    }
}

//end tutorial

//start footer
.footer {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }

    &__column {
        max-width: 270px;
        width: 100%;

        &-menu {
            max-width: 220px;
        }

        &-title {
            font-size: 22px;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            color: #fff;
            padding-bottom: 30px;
            margin-bottom: 30px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 2px;
                width: 51px;
                height: 3px;
                background-color: $green;
            }
        }

        &-text {
            color: #b7c3c8;
            margin-bottom: 30px;
        }

        &-list {
            a {
                margin-bottom: 15px;
                color: #b7c3c8;
                padding-left: 22px;
                position: relative;

                &::before {
                    content: "\f105";
                    color: $green;
                    position: absolute;
                    left: 0;
                    font-size: 18px;
                    font-family: "icomoon";
                }
            }
        }
    }

    &__info {
        margin-top: 18px;
        @include f500;
        color: #fff;
        padding-left: 30px;
        position: relative;

        &::before {
            content: "";
            font-family: "icomoon";
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }

        &-location {
            &::before {
                content: "\f041";
            }
        }

        &-phone {
            &::before {
                content: "\f095";
            }
        }
    }

    &__form {
        &-title {
            color: #fff;
            margin-bottom: 15px;
            font-size: 20px;
        }

        position: relative;

        input {
            border: none;
            background-color: #2f3c43;
            display: block;
            width: 100%;
            height: 40px;
            color: #fff;
            font-size: 14px;
            padding-left: 13px;
            padding-right: 50px;

            &::placeholder {
                color: #697378;
            }
        }

        button {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $green;
            border: none;
            height: 40px;
            width: 43px;
            cursor: pointer;

            &::before {
                content: "\f124";
                position: absolute;
                font-family: "icomoon";
                color: #fff;
                font-size: 20px;
                top: 11px;
                left: 13px;
            }
        }
    }

    &__copy {
        border-top: 1px solid #424d53;

        &-text {
            text-align: center;
            font-size: 15px;
            color: #919699;
            padding: 25px 0px;
        }
    }

}

.footel__social-link {
    margin-bottom: 33px;

    li {
        display: inline-block;

        &+li {
            margin-left: 7px;
        }
    }

    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);

    }
}

.link-twitter {
    background-position: -28px 0;
}

.link-youtube {
    background-position: -0 -28px;
}

.link-pinterest {
    background-position: -28px -28px;
}

.link-linkedin {
    background-position: -56px -0;
}

//end footer

//start product-page
.product-page {
    &__inner {
        display: flex;
        padding-bottom: 110px;
    }

    &__aside {
        margin-right: 30px;

    }
}

.aside {
    &-item {
        background-color: #fff;
        border: 1px solid #dedede;
        padding: 0px 32px 32px;
        margin-bottom: 30px;
        width: 270px;
    }

    &__title {
        border-bottom: 1px solid #dde3e8;
        font-size: 20px;
        color: $bg;
        padding: 22px 0px 19px;
        @include f700;
    }
}

.category__list {
    padding-top: 10px;

    li {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;

        &::before {
            content: "\f105";
            color: $green;
            position: absolute;
            left: 0;
            font-size: 18px;
            font-family: "icomoon";
        }
    }

    a {
        color: $bg;
    }

    span {
        color: #90a4ae;
        margin-left: 10px;
    }
}

.price-range {
    form {
        padding-top: 20px;
    }

    button {
        margin-top: 55px;
        background-color: $green;
        color: #fff;
        padding: 16px 10px;
        text-align: center;
        @include f500;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        position: relative;

        &::before {
            content: "\f002";
            color: #fff;
            position: absolute;
            left: 58px;
            top: 15px;
            font-size: 15px;
            font-family: "icomoon";
        }
    }
}

.irs-min,
.irs-max {
    display: none;
}

.irs--flat .irs-Line {
    background-color: #f2f5f8;
    height: 5px;
}

.irs--flat .irs-bar {
    background-color: $bg;
    height: 5px;
}

.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    background-color: #fff;
    border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.irs-from,
.irs-single,
.irs.to {
    top: 45px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs.to:before {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs.to {
    font-size: 15px;
    background-color: transparent;
    padding: 0;
    line-height: 1.333;
    border-radius: 0;
    text-shadow: none;
    color: #78909c;
}

.irs--flat .irs-handle {
    top: 19px;
}

.product-page__aside {
    .product__item {
        box-shadow: none;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8;

        &-img {
            min-height: 120px;
            box-shadow: none;
        }

        &-content {
            padding: 0;
            min-height: 75px;
            border-bottom: none;
        }

        &-info {
            padding: 0;
            min-height: none;
        }

        &-title {
            font-size: 16px;
        }

        &-price {
            font-size: 16px;
        }

        &-star {
            &-none {
                display: none;
            }
        }

        &-autor .avatar {
            margin-right: 9px;
        }
    }

    .jq-ry-container {
        padding: 0;
    }
}

.aside__product-item {
    .product__item:last-child {
        border: none;
        padding-bottom: 0;
    }

    .product__item:first-child {
        margin-top: 25px;
    }
}

.top-sellers__link {
    padding: 16px;
    display: block;
    background-color: $green;
    color: #fff;
    @include f500;
    text-align: center;
}

.product {
    &-page__filter {
        background-color: #fff;
        border: 1px solid #dedede;
        padding: 0px 20px;
        margin-bottom: 30px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-size: 16px;
            color: #90a4ae;
            outline: none;

            &.active {
                color: $green;
            }

            &.icon-sort-amount-desc {
                font-size: 18px;
                color: #455a64;
            }

            &.icon-unsorted {
                font-size: 14px;
                color: #707070;
            }
        }

        &-sort {
            color: #707070;
            font-size: 14px;
            display: flex;
            align-items: center;
        }
    }

    &-page__content {
        width: 100%;

        .product {
            &__item {
                max-width: 270px;
                background-color: #fff;
                transition: all .5s;

                &-img {
                    min-height: 180px;
                }

                &-content {
                    padding: 10px 20px;
                }

                &-title {
                    font-size: 16px;
                }

                &-info {
                    min-height: 65px;
                    padding: 10px 20px;
                }
            }

            &-page__items {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 30px;
            }
        }

        .rate-star {
            margin-right: 5px;
        }

        .jq-ry-container {
            padding: 0;
        }
    }
}

.pagination {
    &__list {
        li {
            display: inline-block;


            &+li {
                margin-left: 6px;
            }
        }

        a,
        span {
            box-shadow: 0px 1px 2px 0p rgba(205, 214, 222, 0.75);
            width: 43px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            font-size: 16px;
            color: $bg;
            @include f500;

            &.active {
                background-color: $red;
                color: #fff;
            }
        }
    }
}

.product__item-list {
    display: none;

    .icon-heart-o,
    .icon-comment-o {
        display: inline-block;
        font-size: 12px;
        color: #70838d;
        padding: 0px 30px 0px 47px;
        border-left: 1px solid #aeb4bb;
        position: relative;

        span {
            @include f500;
            color: $bg;
        }

        &::before {
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: 0;
        }
    }

    .icon-comment-o {
        padding-right: 30px;

        &::before {
            top: -2px;
        }
    }
}

.product-page__items {
    .product__item {
        &.list {
            max-width: 100%;

            .product__item {
                &-img {
                    width: 240px;
                    float: left;
                    min-height: 100%;
                }

                &-text {
                    display: block;
                    font-size: 14px;
                    color: #70838d;
                    margin-top: 15px;
                    margin-bottom: 5px;
                }

                &-price {
                    font-size: 30px;

                    span {
                        display: block;
                        font-size: 13px;
                        color: #aeb4bb;
                        margin-top: 30 px;
                    }
                }

                &-name {
                    max-width: 480px;
                }

                &-content {
                    padding-top: 23px;
                }

                &-list {
                    display: block;
                }

                &-star {
                    margin-left: auto;
                    margin-right: 30px;
                }
            }
        }
    }
}

.product__item {
    &-text {
        display: none;
    }

    &-price {
        span {
            display: none;
        }

    }
}

//end product-page








@import 'media';